/* Targeting medium sized devices, i.e Tablets */
@media (max-width:768px) and (min-width:480px){

    .card-title{
        font-size: 3rem;
        margin-bottom: 0.2rem;
        line-height: 1;
        font-weight:600;
    }
    .card-subtitle{
        font-size:1.2rem;
        font-weight:400;
        margin:0.5rem 0;
    }
    
    .email-form-title{
        font-size:0.8rem;
        font-weight: 400;
        padding-bottom: 15px;
        margin-bottom: 20px;
      }

    .info-container{
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .get-started-form{
        height: 60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

    .get-started-form > input{
        height: 100%;
        width:80%;
        min-height: 50px;
        /* padding-bottom: 20px; */
        margin: 20px 0px 20px 0px;
        
    }

    .get-started-form > button{
        color: white;
        background: red;
        height: 100%;
        width: 40%;
        font-size: 1.2rem;
        border: none;
        min-height: 50px;
        padding: 0 26px;
        /* border-left: 1px solid black ; */
    }
}

/* Targeting small devices */
@media (max-width: 480px) and (min-width:240px){
    
    .card-title{
        font-size: 2.7rem;
        margin-bottom: 0.2rem;
        line-height: 1;
        font-weight:600;
    }
    .card-subtitle{
        font-size:1rem;
        font-weight:400;
        margin:0.5rem 0;
    }
    
    .email-form-title{
        font-size:0.7rem;
        font-weight: 400;
        padding-bottom: 15px;
        margin-bottom: 20px;
      }
    
    .info-container{
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        text-align: center;
    } 

    .get-started-form{
        height: 60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

    .get-started-form > input{
        height: 100%;
        width:60%;
        min-height: 40px;
        /* padding-bottom: 20px; */
        margin: 20px 0px 20px 0px;
        
    }

    .get-started-form > button{
        color: white;
        background: red;
        height: 100%;
        width: 37%;
        font-size: 0.9rem;
        border: none;
        min-height: 40px;
        padding: 0 26px;
        border-radius: 2px;

    }

    .footer-links{
        list-style-type:none;
        columns:2;
        padding:0px;
      }
}